<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBncztIY9KH6S9-WOdv5NFDWWC86zD0HBc</string>
	<key>GCM_SENDER_ID</key>
	<string>674370307645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmettarikdemirci.StorySpace</string>
	<key>PROJECT_ID</key>
	<string>storyspace-1ad2f</string>
	<key>STORAGE_BUCKET</key>
	<string>storyspace-1ad2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674370307645:ios:32bd7fcb4fb45cb8268c54</string>
</dict>
</plist>